# vim
*~
*.sw?

# generic editing tools
tags

# mac
*.DS_Store

# wandows
.vscode/

# build tools
node_modules/
yarn.lock
tslint.json
.npmignore
CONTRIBUTING
release.tsconfig.json
tsconfig.json

# logfiles
*.log
.idea/

# Ignore source and test artifacts
src/
build/test/

# ignore instructional files
example/
