# vim
*~
*.sw?

# generic editing tools
tags

# mac
*.DS_Store

# wandows
.vscode/

# build tools
node_modules/
yarn.lock
tslint.json

# logfiles
*.log
.idea/

# Ignore test source and artifacts
src/test/
build/test/


# ignore instructional files
example/
